<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @author.last_name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @author.birthdate %>
</p>

<p>
  <strong>Nacionality:</strong>
  <%= @author.nacionality %>
</p>

<p>
  <strong>Category:</strong>
  <%= @author.category_id %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
