<p id="notice"><%= notice %></p>

<h1>Recipe Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_types.each do |recipe_type| %>
      <tr>
        <td><%= recipe_type.name %></td>
        <td><%= recipe_type.description %></td>
        <td><%= link_to 'Show', recipe_type %></td>
        <td><%= link_to 'Edit', edit_recipe_type_path(recipe_type) %></td>
        <td><%= link_to 'Destroy', recipe_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe Type', new_recipe_type_path %>
