<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe_type.description %>
</p>

<%= link_to 'Edit', edit_recipe_type_path(@recipe_type) %> |
<%= link_to 'Back', recipe_types_path %>
